<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" >
</head>
<body>
<nav th:href="nav" class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="" th:href="@{/}" class="navbar-brand">MVC</a>
    <button class="navbar navbar-toggler" data-bs-target="myNav" data-bs-toggle=""navbar>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="#myNav" class="collapse navbar-collapse ">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item"><a href="" th:href="@{/employees/employee/list}" class="nav-link">Employees</a></li>
            <li class="nav-item"><a href="" th:href="@{/customer/list}" class="nav-link">Customers</a></li>
            <li class="nav-item"><a href="" th:href="@{/department/list}" class="nav-link">Department</a></li>
        </ul>
    </div>
        <div sec:authorize="!isAuthenticated()">
          <a href="#" class="nav-link" th:href="@{/login}" style="text-decoration: none!important;color: white!important;font-size: 20px!important;">Login</a>
        </div>-->
        <div sec:authorize="isAuthenticated()">
          <a href="#" th:href="@{/account/info}" class="mr-2" style="text-decoration: none!important;color: white!important;font-size: 20px!important;">Account Info</a>

         <a href="javascript:document.logoutForm.submit()" style="text-decoration: none!important;color: white!important;font-size: 20px!important;"> Logout</a>
          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input type="submit" hidden value="Sign Out">
         </form>
        </div>
</nav>
</body>
</html>
